/target
/.project
/.classpath
/.settings
/pom.xml.releaseBackup
/release.properties
*.iml
*.ipr
*.iws
Servers
/.externalToolBuilders
/.idea
/cargo-installs
/generated
*~
*.javax
/dependency-reduced-pom.xml
*.pyc
